body,
html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: black;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: #333;
    /* Adjust the background color as needed */
}

.image {
    background-image: url("https://cdn.discordapp.com/attachments/1039308604148293682/1155561482529013790/NOVA_poster_big_ver_2.png");
    filter: blur(6px);
    height: 100vh;
    /* Adjust the height as needed */
    width: 100%;
    /* Adjust the width as needed */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* Places the image behind other content */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.text {
    background-color: rgba(0, 0, 0, 0.4);
    /* Black partially transparent background */
    color: white;
    font-weight: bold;
    border: 3px solid #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    opacity: 2;
    border-radius: 25px;
    box-shadow: 0 0 30px #800080;
    /* Increase the glow */
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 30px #FFD700;
        /* Increase the glow */
    }

    to {
        box-shadow: 0 0 30px #800080;
        /* Increase the glow */
    }
}

.discord-link {
    color: #ffffff;
    text-decoration: none;
    /* Add underline to the link text */
    font-size: 20px;
}

.discord-link:hover {
    color: #E1D9D1;
    /* Change link color on hover */
    text-decoration: none;
    /* Remove underline on hover (optional) */
}

.icon-link {
    display: flex;
    align-self: center;
    align-items: center;
    color: white;
    /* Set the text color to white */
    text-decoration: none;
    /* Remove the underline */
}

.link-text {
    margin-left: 1px;
    /* Add some spacing between the icon and text */
    margin-bottom: 100px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.icon {
    width: 100px;
    /* Adjust the icon size as needed */
}

.circular-header {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    box-shadow: 0 0 30px #800080;
    /* Increase the glow */
    animation: glow 2s ease-in-out infinite alternate;
    position: sticky;
    margin: 130px;
}

.circular-header img {
    max-width: 150px;
    /* Adjust the image size as needed */
    height: auto;
    border-radius: 50%;
    /* Make the image round */
    border: none;
    /* Add a white border around the image */
}

.circular-header h1 {
    color: white;
    font-size: 24px;
    margin: 10px 0;
    /* Adjust the margin as needed */
}

@keyframes glow {
    from {
        box-shadow: 0 0 30px #FFD700;
        /* Increase the glow */
    }

    to {
        box-shadow: 0 0 30px #800080;
        /* Increase the glow */
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border: 3px solid #ffffff;
    position: fixed;
    border-top-left-radius: 25px 25px;
    border-top-right-radius: 25px 25px;
    bottom: -1.9;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 30px #800080;
    /* Increase the glow */
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 30px #FFD700;
        /* Increase the glow */
    }

    to {
        box-shadow: 0 0 30px #800080;
        /* Increase the glow */
    }
}

footer div {
    margin-bottom: 100%;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #FF5733;
}

